*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: url("./img/form-bg.jpeg");
    background-size: cover;
    text-align: center;
}
head{
    position: fixed;
}
 .allform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
.frm{
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #372734;
    border-radius: 8px;
    background: #fff;
    box-shadow:  3px 3px 3px rgb(78, 4, 74);
}
::placeholder {
    padding-left: 5px;
  }

.frm h1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 50px;
}
.frm input{
    border: 2px solid #a400e6; 
    border-radius: 3px ;
    width: 230px;
    height: 30px;
}

.frm .btn{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    background: rgb(169, 70, 161);
    grid-column: span 1;
    transition: 0.5s;
    border: 1px solid #8f34df;
    border-radius: 8px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
    width: 190px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 4px;
    
}
.frm .btn:hover{
    letter-spacing: 0.008rem;
    border: 1px solid rgb(0, 0, 0);
    color: #000;
    background: transparent;
}
input[type="file"] {
    
    height: 30px;
}
.frm a{
    text-decoration: none;
    font-weight: 200;
    color: #000;
}
