*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    height: 1200px;
    position: relative;
    overflow-x: hidden;
}
 /* HEADER */
header{
    position: fixed;
    float: right;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    background-attachment: fixed;
 
 }
 header ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;

 }
 header ul li a{
    padding: 60px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
 }
 header ul li:hover{
    transition: 0.9s;
    transform: scale(1.2,1.3);
 }
 .logo img{
    width: 55px;
    height: 50px;
    margin-left: 30px;
    padding: 4px;
    background-color: #fff;
    border-radius: 30px;
    
 }

  /* FOOTER */
 .footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
 }
 .footer-content {
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: #fff;
    bottom: 0px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
.footer-content img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    box-shadow: 2px 4px #6a16b4;
    transition: 0.9s;
}
.footer-content img:hover{
    transform: scale(1.2,1.2);   
}
.footer-content h3{
    margin-bottom: 20px;
    background-color: #8f34df;
    width: 150px;
    height: 30px;
    padding-top: 4px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px #6a16b4;
    transition: 0.9s;
}
.footer-content h3:hover{
    transform: scale(1.2,1.3);
}
.footer-content li{
    padding: 3px;
}
.footer .copyright p{
    position: absolute;
    bottom: 0px;
    color:#fff;
    left: 35%;
    margin-bottom: 10px;
}




  /* HEADER CONTENT */
.container{
    width: 98.8vw;
    height: 47vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    background-attachment: fixed;   
    background-size: cover;
}
.first{
    display: grid;
    grid-template-columns: repeat(3,320px);
    padding-top: 200px;
    gap: 4px;
    margin-left: 70px;
    
}
.des-buynft{
    grid-column: span 1;
    color: #fff;
    font-size: 20px;
    
}
.buy{
    color: #fff;
    font-size: 50px;
    border-left: 4px solid rgb(7, 158, 204);
    border-top: 4px solid rgb(7, 158, 204);
}
.Second{
    display: grid;
    grid-template-columns: repeat(3,320px);
    padding-top: 50px;
    gap: 4px;
    margin-left: 70px;
}
.sell-nfts{
    font-size: 50px;
    color: #fff;
    border-right: 4px solid rgb(7, 158, 204);
    border-top: 4px solid rgb(7, 158, 204);
}
.des-sell{
    color: #fff;
    font-size: 20px;
    padding-left: 1px;
}
.bnt-pg1{
    display: grid;
    grid-template-columns: repeat(3,
    140px);
    margin-left: 12vw;
    gap: 10px;
}

.buy-nft{
    margin-top: 50px;
    text-transform: uppercase;
    color:rgb(248, 231, 132);
    background: rgb(169, 70, 161);
    grid-column: span 1;
    transition: 0.5s;
    border: 1px solid rgb(7, 158, 204);
    border-radius: 8px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
}
.buy-nft:hover{
    letter-spacing: 0.25rem;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    border: 1px solid white;
    color: #fff;

}
 
.learn-more{
    margin-top: 50px;
    grid-column: 2/4;
    text-align: center;
    text-transform: uppercase;
    color: rgb(248, 231, 132);
    background: rgb(169, 70, 161);
    height: 35px;
    transition: 0.5s;
    border: 1px solid rgb(7, 158, 204);
    border-radius: 8px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
}
.learn-more:hover{
    letter-spacing: 0.25rem;
    border: 1px solid white;
    color: #fff;
    background: transparent;
}
.header-img img{
    margin-left: 450%;
    margin-top: -260%;
}
